.image-card__text {
    background-color: #222222;
    height: 76px;
    min-height: 76px;
    color: $white;
    display: flex;
    justify-content: flex-start;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 16px;
    font-size: 16px;
    line-height: 20px;
    font-family: $rubik;
    font-weight: 500;

    @media (max-width: 768px) {
        height: unset;
    }
}