.image-card__text {
    background-color: #222222;
    height: 76px;
    min-height: 76px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 16px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}