.inspirations__tab-values-single-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    color: $black;

    @at-root &:hover {
        color: $black;
    }
}