.hero {
    position: relative;
    background-image: url('~@/assets/hero-bg.webp');
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;


    .container {
        position: relative;
    }

    &.sticky {
        .container {
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}