.hero-section {
    position: relative;
    background-image: url('~@/assets/hero-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: 1200px) {
        height: 90vh;
    }

    .container {
        position: relative;
        padding: 0;
        height: 100%;
    }

    &.sticky {
        .container {
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}