.quiz {
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 15px;

    @media (max-width: 1200px) {
        display: none;
    }
}

@import 'quiz__panel';
@import 'quiz__close';
@import 'quiz__finish-message';
@import 'quiz__finish';
@import 'quiz__next';
@import 'quiz__question-answer-text';
@import 'quiz__question-answer';
@import 'quiz__question-answers';
@import 'quiz__question-text';
@import 'quiz__question-wrapper';
@import 'quiz__question';
@import 'quiz__retake';
@import 'quiz__start';
@import 'quiz__start-opening-text';
@import 'quiz__question-answer--selected';
@import 'quiz__finish-options';
@import 'quiz__finish-option';
@import 'quiz__thanks';
@import 'quiz__progress-percent';
@import 'quiz__progress-tracker';
@import 'quiz__progress-progress';
@import 'quiz__tracking';
@import 'quiz__next--active';
@import 'quiz__start-button';