.section-title {
    font-family: $poppins;
    font-weight: 700;
    font-size: 35px;

    @media (max-width: 480px) {
        font-size: 29px;
        line-height: 36px!important;
    }
}

@import 'section-title--black';
@import 'section-title--white';