.hamburger-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

@import 'hamburger-toggle__line';
@import 'hamburger-toggle--header';
@import 'hamburger-toggle--open';