.footer__columns {
    display: flex;
    width: 100%;
    padding: 48px 0;
    border-bottom: 1px solid $gray;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }

    @media (max-width: 480px) {
        justify-content: center;
    }
}