.footer__column-list-item-link {
    text-decoration: none;
    font-family: $rubik;
    color: $black;
    font-weight: 300;

    @at-root &:hover {
        color: $black;
        text-decoration: underline;
    }
}