.footer__separator {
    width: 2px;
    height: 2px;
    background-color: $light-black;
    margin: 0 9px;

    @media (max-width: 992px) {
        margin: 6px 0;
    }

    @media (max-width: 480px) {
        background-color: transparent;
        margin: 2px 0;
    }
}