.inspirations__tab-controls-single {
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    font-family: $rubik;
    border-radius: 15px;
    background: transparent;
    color: $light-black;
    margin: 0 4px;
    padding: 8px 8px;
    position: relative;

    @at-root &:hover {
        color: $black;
        background: #0000000a;
    }

    @at-root &:hover:before {
        display: block;
    }

    @at-root &:first-child {
        margin-left: -10px;
    }

    @at-root &:before {
        content: '';
        position: absolute;
        display: none;
        height: 2px;
        background-color: $black;
        width: 91%;
        bottom: -10px;
    }
}