.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    @media (max-width: 575px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}


@import 'header--sticky';
@import 'header__link';
@import 'header__button';
@import 'header__right';
@import 'header__left';
@import 'header__center';
@import 'header__account-hamburger';
@import 'header__account-user-icon';
@import 'header__user-panel';
@import 'header__user-panel-divider';
@import 'header__user-panel-link';
@import 'header__user-panel-link--small-screen-only';
@import 'header__user-panel-link--large-screen-only';
@import 'header__account-user-icon--large-screen-only';
@import 'header__button--large-screen-only';
@import 'header--sticky-on';
