.quiz__next {
    pointer-events: none;
    opacity: .8;
    background: $black;
    color: $white;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-family: $rubik;
    font-weight: 500;
}