.hero__left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;


    @media (max-width: 480px) {
        padding-left: 20px;
    }

    @media (min-width: 1200px){
        padding-top: 200px;
    }
}