.home-categories__single-name {
    color: $black;
    text-decoration: none;
    font-family: $rubik;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;

    @at-root &:hover {
        color: $black;
    }
}